@charset "utf-8";

$title-color: #ff0000;

@import "~bulma/bulma.sass";

.navbar {
    background-color: rgba(40,40,40,0.7);
}

.navbar-menu {
    padding: 5px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    section {
        width: 33%;
    }

    .navbar-item:first-child {
        justify-content: left;
    }

    .navbar-item:nth-child(2) {
        justify-content: center;
    }

    .navbar-item:last-child {
        justify-content: right;
    }

    .navbar-item a {
        font-size: .9rem;
        letter-spacing: .1em;
        text-transform: uppercase;
        margin: 0px 10px;
        color: white;
        text-decoration: none;
    }

    .navbar-item a:hover {
        color: lightgray;
        transition-duration: 500ms;
    }
}