@charset "utf-8";

$title-color: #ff0000;

@import "~bulma/bulma.sass";

.navbar-menu {
    padding: 15px 40px;

    .navbar-item {
        font-size: .9rem;
        letter-spacing: .1em;
        text-transform: uppercase;
    }
}