.navbar {
    background-color: transparent;
}

.navbar[aria-label="tertiary"] {
    background-color: transparent;
}

#primary-nav {
    .navbar-item:first-child {
        justify-content: left;
        background-color: rgba(40,40,40, 0.7);
    }

    .navbar-item:first-child::after {
        border-color: rgba(40,40,40, 0.7) transparent transparent transparent;
        border-style: solid;
        border-width: 50px 60px 0 0;
        content: '';
        height: 0;
        width: 0;
        right: -60px;
        top: 0;
        border-width: 52px ​60px 0 0;
        // right: 175px;
        position: absolute;
        z-index: 1;
    }   
}

.navbar-menu {
    display: flex;
    justify-content: space-between;

    section {
        width: 33%;
    }

    .navbar-brand {
        justify-content: right;
    }

    .navbar-item a {
        font-size: .9rem;
        letter-spacing: .1em;
        text-transform: uppercase;
        margin: 0px 10px;
        color: white;
        text-decoration: none;
    }

    .navbar-item a:hover {
        color: lightgray;
        transition-duration: 500ms;
    }
}

.alternate { 
    color: black !important;
    transition: color 0.2s ease;
}

#footer {
    width: 100vw;
    justify-content: center !important;

}